/* Home.css */

.home-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 150px 20px;
  margin-top: -50px;
}

.home-content {
  max-width: 600px;
  text-align: left;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #e6f4ff;
}

.home-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #b0c1cf;
}

.animation-container {
  width: 200%;
  max-width: 35vw;
  height: auto;
}

@media (min-width: 768px) {
  .animation-container {
    max-width: 300px;
  }
}
