/* Home.css */

.home-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 150px 20px;
  margin-top: -50px;
}

.home-content {
  max-width: 600px;
  text-align: left;
}

.home-title {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #f9e1ff;
  text-shadow: -2px 2px 2px rgb(0, 0, 0); /* Adiciona sombra leve */
}

.home-description {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #f9e1ff;
  text-shadow: -1px 1px 1px rgb(0, 0, 0); /* Adiciona sombra leve */
}

.animation-container {
  width: 400%;
  max-width: 45vw;
  height: auto;
}

/* Media query para dispositivos menores */
@media (max-width: 768px) {
  .home-title {
    font-size: 3.2rem; /* Reduz o tamanho da fonte em 30% */
  }

  .home-description {
    font-size: 1.05rem; /* Reduz o tamanho da fonte em 30% */
  }
}

@media (max-width: 480px) {
  .home-title {
    font-size: 2.8rem; /* Exemplo de redução adicional para dispositivos muito pequenos */
  }

  .home-description {
    font-size: 1rem; /* Exemplo de redução adicional para dispositivos muito pequenos */
  }
}

@media (min-width: 768px) {
  .animation-container {
    max-width: 400px;
  }
}
