/* Arquivo: src/components/Card/Card.css */

.card {
  border-radius: 0.52rem;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(30, 255, 0, 0.774);  /* Sombra suave */
  width: 300px; /* Ajuste conforme necessário */
  height: 80%; /* Reduz a altura do card em 20% */
}

.card:hover {
  transform: scale(1.01); /* Aplica um zoom de 10% (escala 1.1) */
}

 .card h2 {
  color: #fffafa;
 }

.card-image {
  width: 100%;
  height: 60%; /* Ajuste a altura da imagem para manter a proporção do card */
  object-fit: cover;
}

.card-content {
  background-color:#2c462e5e;
  padding: 1rem;
  height: 40%; /* Ajuste a altura do conteúdo para manter a proporção do card */
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 1rem;
  color: #fffafa;
  margin-bottom: 1rem;
}

.card-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(1deg, 
  #102700f1,
  #183a00f1,
  #204d00f1,
  #275e00f1,
  #2e6e00f1,
  #347e00f1,
  #388600f1,
  #3e9400f1,
  #43a100f1,
  #43a100f1,
  #3e9400f1,
  #388600f1,
  #347e00f1,
  #2e6e00f1,
  #275e00f1,
  #204d00f1,
  #183a00f1,
  #102700f1);
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  transform: scale(1.01); /* Efeito de escala para criar o brilho */
  filter: brightness(1.1) contrast(1.2); /* Ajusta brilho e contraste */
  box-shadow: 0 2px 4px  rgba(0, 238, 32, 0.466);
}
