/* ButtonPadrao.css */

.button-padrao {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  background: linear-gradient(1deg, 
  #030027f1,
  #070055f1,
  #0b007cf1,
  #0c0183f1,
  #0e028df1,
  #0e019cf1,
  #0f01a8f1,
  #1001b4f1,
  #1202bdf1,
  #1202bdf1,
  #1001b4f1,
  #0f01a8f1,
  #0e019cf1,
  #0e028df1,
  #0c0183f1,
  #0b007cf1,
  #070055f1,
  #030027f1);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease, filter 0.2s ease; /* Transições para efeito hover */
  border-radius: 10px; /* Borda arredondada */
  overflow: hidden; /* Oculta o overflow para aplicar o efeito de brilho e contraste */
}

.button-padrao:hover {
  transform: scale(1.05); /* Efeito de escala para criar o brilho */
  filter: brightness(1.2) contrast(1.2); /* Ajusta brilho e contraste */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}
