/* Arquivo: src/components/Footer/Footer.css */

.footer {
  background-image: linear-gradient(to bottom, 
  #030027f1,
  #070055f1,
  #0b007cf1,
  #0c0183f1,
  #0e028df1,
  #0e019cf1,
  #0f01a8f1,
  #1001b4f1,
  #1202bdf1,
  #1202bdf1,
  #1001b4f1,
  #0f01a8f1,
  #0e019cf1,
  #0e028df1,
  #0c0183f1,
  #0b007cf1,
  #070055f1,
  #030027f1
);
  color: #fff;
  text-align: center;
  padding: 10px 2;
  position: fixed;
  bottom: -50px; /* Inicialmente fora da tela */
  width: 100%;
  transition: bottom 0.3s ease; /* Transição suave para animar o aparecimento */
}

.footer.visible {
  bottom: 0; /* Mostra o footer quando chegar ao fim da página */
}
