/* Arquivo: src/components/Footer/Footer.css */

.footer {
  background-image: linear-gradient(
    to bottom,
    #210032a2,
    #310043a2,
    #420054a2,
    #520065a2,
    #620076a2,
    #620076a2,
    #520065a2,
    #420054a2,
    #310043a2,
    #210032a2
  );
  color: #9c929e;
  text-align: center;
  padding: 10px 2;
  position: fixed;
  bottom: -50px; /* Inicialmente fora da tela */
  width: 100%;
  transition: bottom 0.3s ease; /* Transição suave para animar o aparecimento */
}

.footer.visible {
  bottom: 0; /* Mostra o footer quando chegar ao fim da página */
}

.footer a {
  text-decoration: none; /* Remove o sublinhado dos links dentro do footer */
  color: #9c929e; /* Cor padrão do texto */
  transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

.footer a.thiagonet {
  font-weight: bold; /* Texto em negrito */
  cursor: pointer; /* Adiciona cursor de mão */
}

.footer a.thiagonet:hover {
  color: #d5b6db; /* Cor branca para o texto ao passar o mouse */
}
