body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, 
  #001027f1,
  #00183af1,
  #00204df1,
  #00275ef1,
  #002e6ef1,
  #00347ef1,
  #003886f1,
  #003e94f1,
  #0043a1f1,
  #0043a1f1,
  #003e94f1,
  #003886f1,
  #00347ef1,
  #002e6ef1,
  #00275ef1,
  #00204df1,
  #00183af1,
  #001027f1
);
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  flex-grow: 1;
  position: relative;
  z-index: 0;
  padding-top: 43px;
}

section {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  main {
      margin-left: 0;
      margin-right: 0;
  }
}

