body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, 
  #210032,
  #310043,
  #420054,
  #520065,
  #620076,
  #620076,
  #520065,
  #420054,
  #310043,
  #210032
);


  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  flex-grow: 1;
  position: relative;
  z-index: 0;
  padding-top: 43px;
}

section {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  main {
      margin-left: 0;
      margin-right: 0;
  }
}

